{% extends "_global/index.html" %}

{% block main %}
    
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-wrapper">
          <form method="POST">
            <!-- inputs -->
            <div class="form-group">
              <label class="sr-only" for="name">Name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="email">Email</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="subject">Subject</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </div>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="message">Message</label>
              <textarea class="form-control" id="message" rows="6" name="message" placeholder="Message"></textarea>
            </div>
  
            <!-- buttons -->
            <div class="btn-group pull-right" role="group">
              <button type="reset" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset
              </button>
              <button type="submit" name="submit" class="btn btn-primary submit">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
      $('.form-wrapper button.submit').click(function(e){
  // prevent default submit
  e.preventDefault();
});
  </script>

{% endblock %}

{% block title %}
Contact Us
{% endblock %}
