{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
        <button type="button">
            <a href="/EventCalendar/user/events">List my events</a>
        </button>        
    </div><br>

    <form class="event-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" required class="form-control">
        </div>

        <div class="form-group">
            <label for="description">Description: </label>
            <textarea id="description" name="description" required class="form-control" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label for="location_id">City: </label>
            <select class="form-control" name="location_id" id="location_id">
                {% for location in locations %}
                <option value="{{ location.location_id }}">
                    {{ location.name }}
                </option>
                {% endfor %}
            </select>
        </div>   

        <div class="form-group">
            <label for="place_name">Location: </label>
            <input type="text" id="place_name" name="place_name" required class="form-control">
        </div>

        <div class="form-group">
            <label for="place_address">Address: </label>
            <input type="text" id="place_address" name="place_address" required class="form-control">
        </div>
      
        <div class="form-group">
            <label for="start_event">Starts at: </label>
            <input type="datetime-local" id="start_event" name="start_event" required class="form-control">
        </div>

        <!--div class="form-group">
            <label for="start_time">Starts at: </label>
            <input type="time" id="start_time" name="start_time"  class="form-control">
        </div-->

        <div class="form-group">
            <label for="end_event">Ends at: </label>
            <input type="datetime-local" id="end_event" name="end_event" required class="form-control">
        </div>

        <!--div class="form-group">
            <label for="end_time">Ends at: </label>
            <input type="time" id="end_time" name="end_time"  class="form-control">
        </div-->

        <div class="form-group">
            <label for="ticket_price">Ticket price: </label>
            <input type="number" id="ticket_price" name="ticket_price" required class="form-control"
                    min="0.01" step="0.01">
        </div>

        <div class="form-group">
            <label for="url">Web address: </label>
            <input type="text" id="url" name="url" required class="form-control">
        </div>

        <div class="form-group">
            <label for="category_id">Event category: </label>
            <select class="form-control" name="category_id" id="category_id">
                {% for category in categories %}
                <option value="{{ category.category_id }}">
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="image">Image: </label>
            <input type="file" id="image" name="image" required class="form-control" accept="image/jpg">
        </div> 

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Add Event
            </button>
        </div>
    </form>
</div>
{% endblock %}
