{% extends "_global/index.html" %}

{% block main %}
<h1>{{ category.name|escape }}</h1>
<p>Events: </p>
<ul>
    {% for event in eventsInCategory %}
    <li class="event row">
        <div class="col-12 col-md-2">
            <a href="/EventCalendar/event/{{ event.event_id }}" class="event-big-image">
                <img src="/EventCalendar/assets/uploads/{{ event.event_id }}.jpg" 
                alt="Big Image -{{event.event_id}}" class="width-100-percent">
            </a>
        </div>

        <div class="col-12 col-md-10">            
            <a href="/EventCalendar/event/{{ event.event_id }}" class="event-title">
                {{ event.title|escape }} 
            </a>
            <div class="col-12 col-md-9 event-about">
            <span class="event-description">{{ event.description|escape }}</span>
            </div>

            <div class="row event-info">                    
                <span class="col-6 col-md-4">Starts At: {{ event.start_event|escape }}</span>
                <span class="col-6 col-md-4">Ends At: {{ event.end_event|escape }}</span>
                <span class="col-12 col-md-4">Ticket Price: {{ event.ticket_price|escape }} &euro;</span> 
            </div>                 
        </div>
         
        
        

        <!--img src="#" alt="Small Image 1 -{{event.event_id}}" class="event-small-image image-1">
        <img src="#" alt="Small Image 2 -{{event.event_id}}" class="event-small-image image-2"-->
                 
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block title %}
{{ category.name|escape }}
{% endblock %}