<!DOCTYPE html>
<html>
    <head>
        <title>Peca Events - {% block title %}Sign In{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/EventCalendar/assets/css/main.css">
        <link rel="stylesheet" href="/EventCalendar/assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/EventCalendar/assets/libs/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <header>            
            <div class="row">
                <div class="col col-sm banner">
                    <a href="">
                    <img src="/EventCalendar/assets/img/banner-1.jpg" alt="Banner 1">
                    </a>
                </div>
    
                <div class="col col-sm">
                    <div class="social-icons text-right">                
                        <a href="#"><img src="/EventCalendar/assets/img/social/facebook.png" alt="FB"></a>
                        <a href="#"><img src="/EventCalendar/assets/img/social/instagram.png" alt="Gp"></a>
                        <a href="#"><img src="/EventCalendar/assets/img/social/twitter.png" alt="Tw"></a>                
                        <a href="#"><img src="/EventCalendar/assets/img/social/linkedin.png" alt="LI"></a>
                        <a href="#"><img src="/EventCalendar/assets/img/social/youtube.png" alt="YT"></a>
                    </div>                  
                </div>

            </div>
        </header>

        <main>
          
            <div class="row user-login">
                <form action="/EventCalendar/registration" method="POST"
                class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="card">
                    <div class="card-header">
                        Sign in with Your Account
                    </div>

                    <div class="card-body">
                    <div class="form-group">
                        <label for="input_username">Username:</label>
                        <input type="text" id="input_username" name="login_username" required class="form-control"
                               placeholder="Enter Your Username.">
                    </div>
                
                    <div class="form-group">
                        <label for="input_password">Password:</label>
                        <input type="password" id="input_password" name="login_password" required class="form-control"
                               placeholder="Enter Your Password.">
                    </div>
                    </div>
                
                    <div class="card-footer">                   
                        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-home"></i> Sign in
                            
                        </button>                    
                    </div>

                </div>
                </form>
            </div><br>
        
           
        <div class="row">
            <form class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card">
                
                <div class="card-header">
                    Sign in
                </div>


                <div class="card-body social-network">                
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa fa-google"></i> Sign in with Google
                </button><br>

                <button type="button" class="btn btn-outline-primary">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </button>
                
                
                <p>------------------- or -------------------</p>
                

                
                <button type="button" class="btn btn-outline-primary">
                    <a href="/EventCalendar/user/register/">Create a New Account</a>                        
                </button>
                
                </div>

                <div class="card-footer">                    
                    <p>By signing in, you agree to Peca Events<a href=""> Conditions of Use</a><br>
                       and<a href=""> Privacy Policy</a>.</p>                                     
                </div>                
            
            </div>
        </form>
        </div>
        </main>

        <footer class="site-footer">
            &copy; 2020  Peca Events
        </footer>
    </div>

    <script src="/EventCalendar/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/EventCalendar/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script> 

    </body>
</html>