{% extends "_global/index.html" %}

{% block main %}

<div>           
    <div class="options">
        <a href="/EventCalendar/user/categories/add">Add new Category</a>
    </div><br> 

    <div class="categories">
        <ul>
            {% for category in categories %}
            <li>
                <a href="/EventCalendar/user/categories/edit/{{ category.category_id }}">
                {{ category.name|escape }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}