<!DOCTYPE html>
<html>
    <head>
        <title>Peca Events - </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/EventCalendar/assets/css/main.css">
        <link rel="stylesheet" href="/EventCalendar/assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/EventCalendar/assets/libs/bootstrap/dist/css/bootstrap.min.css"> 
    </head>
    <body>
        <div class="container">
        <header>
            <div class="row">
                <div class="col col-sm banner">
                    <a href="/EventCalendar/home">
                    <img src="/EventCalendar/assets/img/banner-1.jpg" alt="Banner 1">
                    </a>
                </div>
    
                <div class="col col-sm">
                    <div class="social-icons text-right">                
                        <a href="#"><img src="/EventCalendar/assets/img/social/facebook.png" alt="FB"></a>
                        <a href="#"><img src="/EventCalendar/assets/img/social/instagram.png" alt="Gp"></a>
                        <a href="#"><img src="/EventCalendar/assets/img/social/twitter.png" alt="Tw"></a>                
                        <a href="#"><img src="/EventCalendar/assets/img/social/linkedin.png" alt="LI"></a>
                        <a href="#"><img src="/EventCalendar/assets/img/social/youtube.png" alt="YT"></a>
                    </div>                  
                </div>

            </div>
        </header>

        <main>
            <h2>Sign in with Your Account</h2>
            <div>
                <form action="" method="POST">
                    <div>
                        <label for="input_username">Username:</label>
                        <input type="text" id="input_username" name="login_username" required
                               placeholder="Enter Your Username.">
                    </div>
                
                    <div>
                        <label for="input_password">Password:</label>
                        <input type="password" id="input_password" name="login_password" required
                               placeholder="Enter Your Password.">
                    </div>
                
                    <div>
                        <button type="submit">
                            Sign in
                        </button>
                    </div>
                </form>
            </div><br>

            <h2>Sign in</h1>
            <div>
                <div>
                    <button type="button">
                        Sign in with Google
                    </button>
                </div>
                <div>
                    <button type="button">
                        Sign in with Facebook
                    </button>
                </div>
                <div>
                    <p>---------- or ----------</p>
                </div>
                <div>
                    <button type="button">
                        <a href="/EventCalendar/user/register/">Create a New Account</a>                        
                    </button>
                </div>
                <div>
                    <p>By signing in, you agree to Peca Events <a href="">Conditions of Use</a><br>
                       and <a href="">Privacy Policy</a>.</p>
                </div>
            </div>
        </main>
        <footer class="site-footer">
            &copy; 2020  Peca Events
        </footer>

    </div>

    <script src="/EventCalendar/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/EventCalendar/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>  

    </body>
</html>